/* Tags*/

h1 {
  color: #433683;
}

/* Navigation bar*/

.navbar-default {
    background-color: #E1C7DF;
    border-color: #CDA1C9;
}

.navbar-default .navbar-brand {
    color: #9B4393;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #F3F8E9;
}

/* Body*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #E6F2FB;
}


/* PHS hex colours

           PURPLE  MAGENTA BLUE    GREEN
HEX        #3F3685 #9B4393 #0078D4 #83BB26
TINT - 80% #655E9D #AF69A9 #3393DD #9CC951
TINT - 50% #9F9BC2 #CDA1C9 #80BCEA #C1DD93
TINT - 30% #C5C3DA #E1C7DF #B3D7F2 #DAEBBE
TINT - 10% #ECEBF3 #F5ECF4 #E6F2FB #F3F8E9
*/


